{% extends "base.html" %}

{% block page_title %}{{page_title}}{% endblock %}

{% block content %}


{% if summary_tables %}

<p> All images smoothed to 10 degree and plotted with linear color scale, LFI = +- 10 microK,
all maps are straight differences (M1 - M2)</p>

<a name="summary"><h2>Summary table</h2></a>

<p>Difference map (after smoothing) chi-square, click on the table cell to popup the map <br />
Change colors threshold:
  Orange: <input type="text" name="orange" id="orange" value="1e-4" class="updatesummarycolor" />
  Red: <input type="text" name="red" id="red"/ value="1e-3" class="updatesummarycolor" >
</p>
{% for summary_table in summary_tables %}
<table class="table table-hover table-condensed summarytable">
    <tr>
        {% if summary_table.rows.0.tag %}
    <th></th>
        {% endif %}
    {% for label in summary_table.labels %}
        <th><p>{{label}}</p></th>    
    {% endfor %}
    </tr>
    {% for row in summary_table.rows %}
        <tr>
        {% if row.tag %}
            <th><p>{{row.tag}}</p></th>
        {% endif %}
        {% for numlink in row.numslinks %}
            <td>
            <a href="images/{{numlink.1}}.jpg" class="thumbnail"  rel="prettyPhoto">
                {{numlink.0}}
            </a>
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endfor %}

{% else %}

<h3>Angular Power Spectra:</h3>
<ul>
    <li>computed on half-differences (M1-M2)/2 in order to normalize the noise correctly</li>
    <li>divided by the sky fraction</li>
    <li>Mask: union mask of all surveys, DPC point source mask, DPC galaxy mask (used for destriping), WMAP polarization mask</li>
    <li>spectra binned (using the mean) on 5 ell's</li>
    <li>neither smoothing nor degrading applied</li>
</ul>

{% endif %}


{% for table in table_list %}
    <a name="{{ table.tag }}"><h2>{{ table.title }}</h2></a>
    <table class="table table-hover table-condensed mapstable">
    <tr>
        {% if table.rows.0.tag %}
    <th></th>
        {% endif %}
    {% for label in table.labels %}
    <th><p>{{label}}</p></th>    
    {% endfor %}
    </tr>
    {% for row in table.rows %}
        <tr>
        {% if row.tag %}
        <th><p>{{row.tag}}</p></th>
        {% endif %}
        {% for image in row.images %}
            <td>
            {% if image %} 
            <a href="images/{{image.file_name}}.jpg" class="thumbnail"  id="{{image.tag}}" rel="prettyPhoto[{{table.tag}}]">
                <p class="imgtag">{{image.tag}}</p>
                <img title="{{image.title}}" alt="{{image.title}}"src="images/{{ image.file_name }}_thumb.jpg" />
                </a>
            {% else %}
                <p>&nbsp;</p>
            {% endif %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% endfor %}
{% endblock %}
